.first-color {
	color: #45eba5;
}

.second-color {
	color: #21aba5;
}

.third-color {
	color: #1d566e;
}

.fourth-color {
	color: #163a5f;
}

.first-color-background {
	background: #45eba5;
}

.second-color-background {
	background: #21aba5;
}

.third-color-background {
	background: #1d566e;
}

.fourth-color-background {
	background: #163a5f;
}

.profilepic {
	max-width: 100%;
	height: auto;
	border-radius: 12px;
	/*display: block;
	margin: 0 auto;*/
}

.section {
	border-radius: 12px;
}

.logo {
	height: 60px;
	width: auto;
	margin: 0;
	padding: 0;
}

.content-wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 1rem;
}

.shadow {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.button.second-color-background:hover {
	background-color: #1d566e;
	color: #eeeeee;
	transform: scale(1.05);
}

.rounded-button {
	width: 60px;
	height: 60px;
	background-color: rgb(228, 231, 197);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 50%;
	border: none;
	text-decoration: none;
	transition: background 0.8s;
}

.rounded-button:hover {
	background-color: #35b315;
}

.icons {
	width: 60px;
	height: 60px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

body {
	background-color: #21aba5;
}

body {
	background-image: linear-gradient(to right, 
	  #1d566e, 
	  #222831 30%, 
	  #222831 70%, 
	  #1d566e);
  }