.first-color { 
	color: #45eba5; 
}
	
.second-color { 
	color: #21aba5; 
}

.third-color { 
	color: #1d566e; 
}

.fourth-color { 
	color: #163a5f; 
}

.first-color-background { 
	background: #45eba5; 
}
	
.second-color-background { 
	background: #21aba5; 
}

.third-color-background { 
	background: #1d566e; 
}

.fourth-color-background { 
	background: #163a5f; 
}

.profilepic {
	max-width: 100%;
	height: auto;
	border-radius: 12px;
	/*display: block;
	margin: 0 auto;*/
}

.section {
	border-radius: 12px;
}

.logo {
	height: 60px;
	width: auto;
	margin: 0;
	padding: 0;
}