:root {
	--first-color: #45eba5;
	--second-color: #21aba5;
	--third-color: #1d566e;
	--fourth-color: #163a5f;
}

.first-color {
	color: (--first-color);
}

.second-color {
	color: (--second-color);
}

.third-color {
	color: (--third-color);
}

.fourth-color {
	color: (--fourth-color);
}

.first-color-background {
	background: (--first-color);
}

.second-color-background {
	background: (--second-color);
}

.third-color-background {
	background: (--third-color);
}

.fourth-color-background {
	background: (--fourth-color);
}

body.darkmode {
	--first-color: #fffbe0;
	--second-color: #393e46;
	--third-color: #fcda05;
	--fourth-color: #222831;
	
}

.profilepic {
	max-width: 100%;
	height: auto;
	border-radius: 12px;
}

.section {
	border-radius: 12px;
}

.logo {
	height: 60px;
	width: auto;
	margin: 0;
	padding: 0;
}

.content-wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 1rem;
}

.shadow {
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}


.button.second-color-background:hover {
	background-color: #1d566e;
	color: #eeeeee;
	transform: scale(1.05);
}

.rounded-button {
	width: 60px;
	height: 60px;
	background-color: rgb(228, 231, 197);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 50%;
	border: none;
	text-decoration: none;
	transition: background 0.8s;
}

.rounded-button:hover {
	background-color: #5dd63e;
}

.icons {
	width: 60px;
	height: 60px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

body {
	background-color: var(--second-color);
}

body {
	background-image: linear-gradient(to right, 
	  var(--fourth-color), 
	  var(--second-color) 30%, 
	  var(--second-color) 70%, 
	  var(--fourth-color));
  }
  